<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <header style="text-align: center; padding: 20px; background-color: #4aa0b5; border-bottom: 2px solid #ccc;">
        <h1 style="font-family: 'Arial', sans-serif; color: #333; font-size: 2.5em;">Inteligencia Artificial</h1>
        <nav style="background-color: #333; padding: 10px;">
            <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
                <li style="margin-right: 15px;"><a href="/" style="color: white; text-decoration: none;">Inicio</a></li>
                <li style="margin-right: 15px;"><a href="{% url 'lista_posts' %}" style="color: white; text-decoration: none;">Artículos</a></li>
                <li style="margin-right: 15px;"><a href="/about/" style="color: white; text-decoration: none;">Acerca de</a></li>
                <li style="margin-right: 15px;"><a href="/contacto/" style="color: white; text-decoration: none;">Contacto</a></li>
                <li><a href="/post/new/" style="color: white; text-decoration: none;">Nuevo Post</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- Aquí va el contenido específico de cada página -->
        {% endblock %}
    </main>

    <footer>
        <p>Informatorio &copy; 2024</p>
    </footer>
</body>
</html>