{% extends "base.html" %}

{% load static %}

{% block content %}
  

    <div class="post-container">
        <h1 class="post-title">{{ post.titulo }}</h1>

        <img class="imagen" src="{{ post.imagen }}" alt="Imagen de {{ post.titulo }}" />
        
       
        <div class="post-content">
            <p>{{ post.contenido }}</p>
        </div>
    </div>
    

  <div class = "comentarios">
    <h2 class = "comentarios_titulo">Comentarios:</h2>
    <ul class="ul_cometnarios">
      {% for comentario in comentarios %}
        <li class="li_comentarios">

         
          
          <p class="p_comentarios">{{ comentario.cuerpo_comentario }}</p>
          
          
          <p class="p_fecha_comentarios">{{ comentario.fecha_creacion }}</p>
          
          {% if usuario_logeado and comentario.autor_comentario == request.user or request.user.is_staff or colaborador %}
          <div class="comentario-acciones">
            <a href="?edit_comentario={{ comentario.id }}">Editar</a>
        
            
          </div>
          {% endif %}
        

          {% if comentario_a_editar and comentario_a_editar.id == comentario.id %}
            <form method="post" class="comentario-editar">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Guardar cambios</button>
            </form>
          {% endif %}

        </li>
      {% endfor %}
    </ul>
    
    <div class="comment-form-container">
        <form class="comment-form-comentari" method="POST" action="{% url 'agregar_comentario' post.id %}">
            {% csrf_token %}
            <label for="contenido">Agregar un comentario:</label>
            <textarea id="contenido" name="contenido" rows="5" required></textarea>
            <button type="submit">Enviar Comentario</button>
        </form>
    </div>

    <a href="{% url 'index' %}" class="back-link">Volver al inicio</a>
</div>
{% endblock %}